#words {
    color: rgb(15, 82, 206);
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: relative;
}

.header {
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
}

.body-text {
    position: absolute;
    text-align: center;
    font-size: 54px;
    top: 30%;
}

.button {
    position: absolute;
    bottom: 1%;
    right: 3%;
}
