body {
    background-color: rgb(255, 49, 152);
    overflow: hidden;
}

.header {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 33px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px;
    color: orange;
}

#words {
    color: rgb(116, 17, 230);
}

#again {
    background-color: rgb(116, 17, 230);
    color: white;
}

.body-text {
    position: absolute;
    text-align: center;
    font-size: 54px;
    top: 30%;
}

.body-text2 {
    text-align: center;
    margin-top: 2%;
}

.button {
    bottom: 1%;
    right: 3%;
}

.small-text {
    font-size: 10px;
    color: violet;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}


