<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
  
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center" style="background-color: yellow;">
      <!-- Render our data -->
      <h1 style="color: pink;transition-property: all; transition-duration: 5s; transition-delay: 2s;">{{ text }}</h1>
      <h1>{{ text2 }}</h1>
      <h1 style="opacity: 0.2;">{{ text3 }}</h1>
      <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
        {% for number in range(10 - users|count) %}
            <li class="empty"><span>...</span></li>
        {% endfor %}
        </ul>
    </div>

  </div>
</body>

</html>
